<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Estilos-->
    <link rel="stylesheet" href="/views/css/inicion.css">

    <!--Nombre de la pagina-->
    <title>Document</title>
</head>
<body id="dark">
    
    <!--Barra para registrar, iniciar seción o buscar-->
    <nav class="barra-nav">

        <section class="barclose" id="barItem">

            <nav class="header-bar">

                <ion-icon name="caret-back-outline" id="buttonclose"></ion-icon>

            </nav>

            <section class="listitem">

                <ul>

                    <li>

                        <ion-icon name="home-outline" id="box-icon"></ion-icon>

                    </li>
        
                    <li>
        
                        <ion-icon name="cog-outline"></ion-icon>
        
                    </li>
        
                    <li>
        
                        <ion-icon name="help-circle-outline"></ion-icon>
        
                    </li>

                    <li>
        
                        <ion-icon name="card-outline"></ion-icon>
        
                    </li>

                    <li>

                        <ion-icon name="bar-chart-outline"></ion-icon>

                    </li>

                    <li>

                        <ion-icon name="contrast-outline" class="off" id="encendido"></ion-icon>
                        <ion-icon name="contrast-outline" class="on" id="apagado"></ion-icon>


                    </li>

                </ul>

            </section>

        </section>

        <!--ésta es la parte de navegacion(o primera parte)-->
        <section class="navegacion-menu">

            <section>

                <ion-icon name="caret-forward-outline" class="buttonopen" id="buttonbar"></ion-icon>

            </section>

        </section>

        <!--ésta es la parte de usuario(o parte 2)-->
        <section class="registro-inicio" id="registro-inicio-id">

            <section class="singup">

                <input type="submit" value="Registrarse">

            </section>

            <section class="singin">

                <input type="submit" value="iniciar sección">

            </section>

        </section>

    </nav>

    <!--Ésta será la sección donde se organizarán todos los contenidos ya creados-->
    <section>



    </section>

</body>

    <!--scripts que utilizamos como estilos aparte pàra estilizar la pagina con mayor facilidad-->
    <script src="/views/js/inicio.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/views/js/sweetalert.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>