<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Estilos-->
    <link rel="stylesheet" href="/views/css/inicion.css">

    <!--Nombre de la pagina-->
    <title>Document</title>

</head>
<body id="dark">

    <!--estos son los span para realizar la animacion de fondo-->

    <div class="container">

        <div class="bubles">

            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:16;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:16;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:16;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:16;"></span>

        </div>

    </div>
    
    <!--Barra para registrar, iniciar seción o buscar-->
    <nav class="barra-nav">

        <section class="barclose" id="barItem">

            <nav class="header-bar">

                <ion-icon name="caret-back-outline" id="buttonclose"></ion-icon>

            </nav>

            <section class="listitem">

                <ul>
        
                    <li>
        
                        <ion-icon name="help-circle-outline" id="ayuda"></ion-icon>
        
                    </li>

                    <li class="footer-bar">

                        <ion-icon name="contrast-outline" class="off" id="encendido"></ion-icon>
                        <ion-icon name="contrast-outline" class="on" id="apagado"></ion-icon>

                    </li>

                </ul>

            </section>

        </section>

        <!--ésta es la parte de navegacion(o primera parte)-->
        <section class="navegacion-menu">

            <section>

                <ion-icon name="caret-forward-outline" class="buttonopen" id="buttonbar"></ion-icon>

            </section>

        </section>

        <!--ésta es la parte de usuario(o parte 2)-->
        <section class="registro-inicio" id="registro-inicio-id">

            <section class="singup">

                <input type="submit" value="Registrarse">

            </section>

            <section class="singin">

                <input type="submit" value="iniciar sección">

            </section>

        </section>

    </nav>  

    <!--Ésta será la sección donde se organizarán todos los contenidos ya creados-->
    <section class="content">

        <div class="presentacion" id="container">
        
            <input type="submit" value="¡Comencemos!" id="infoInit">
        
        </div>
        
    </section>

</body>

    <!--scripts que utilizamos como estilos aparte pàra estilizar la pagina con mayor facilidad-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/views/js/inicio.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>