<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--estilos-->
    <link rel="stylesheet" href="/views/css/login.css">

    <!--titulo-->
    <title>DeliciousPastries - Login</title>

</head>
<body id="body">

        <!--estos son los span para realizar la animacion de fondo-->

        <div class="container">

            <div class="bubles">
    
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:16;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:16;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:16;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:16;"></span>
    
            </div>
    
        </div>

        <!--caja base-->

        <div class="box" id="box">

            <!--cabecera-->

            <div class="box-header">

                <section>

                    <h1>Delicious <b>Pastries</b></h1>

                </section>

                <section>

                    <button id="buttonReg">registro</button>
                    <button id="buttonLog">Iniciar Seccion</button>
                    <button id="buttonIni">Inicio</button>

                </section>

            </div>

            <!--contenido-->

            <div class="box-body">

                <div class="box-img">

                    

                    <img src="/views/image/Login_img.svg">

                </div>

                <div class="box-form">

                    <div>

                        <h1>Iniciar <b>Sección</b></h1>

                        <form action="/login/verify" method="post">

                            <section>

                                <input type="email" required="required" name="email" autocomplete="off"> 
                                <span>Correo</span>

                            </section>

                            <section>

                                <input type="password" required="required" name="clave" autocomplete="off">
                                <span>Clave</span>

                            </section>

                            <section>

                                <input type="submit" id="ButtonSubmit">

                            </section>

                        </form>

                    </div>

                </div>

            </div>

            <!--footer-->

            <div class="box-footer">

                <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-google"></ion-icon>

            </div>
    
        </div>
    
</body>

    <!--archivo js de el login-->
    <script src="/views/js/login.js"></script>

    <!--sweetalert2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--ion-icons-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>