<%- include('head.ejs') %>
<body>
  <h1>Logging with your Email and Hash!</h1>
  <form action="/user/login" method="post">
    <input type="email" name="email" placeholder="Correo">
    <input type="password" name="password" placeholder="Clave">
    <input type="submit" value="Iniciar sesión">
  </form>
</body>
</html>