<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/views/css/moderator.css">

    <title>Document</title>
</head>
<body>

    <nav>

        <div>

            <div>

                <form action="/login/verify" method="post">

                    <section>

                        <input type="text" placeholder="Buscar Usuarios..." required="required" name="">

                    </section>

                </form>

            </div>
            <input type="submit" value="Buscar"> 

        </div> 

    </nav>
    
    <div>

        <table>

            <thead>
    
                <th>nombre</th>
                <th>correo</th>
                <th>Settings</th>
    
            </thead>
            <tbody>
    
            <% data1.forEach((user)=> { %>

                <tr>

                    <td><%= user.nombre %></td>
                    <td><%= user.correo %></td>
                    <td class="hash">
                    
                    <button>Borrar</button>
                    <button>Editar</button>
                
                    </td>

                </tr>

            <% }) %>
    
            </tbody>
    
        </table>

    </div>

</body>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</html>