<%- include('head.ejs') %>
<body>
  <h1>Register your Email and Hash!</h1>
  <form action="/add/user" method="post">
    <input type="email" name="email" placeholder="Correo">
    <input type="password" name="password" placeholder="Clave">
    <input type="submit" value="Registrar usuario">
  </form>
</body>
</html>