<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/views/css/ryr.css">

    <title>Document</title>
</head>
<body>

    <div class="container">

        <div class="bubles">

            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:16;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:16;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:16;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:16;"></span>

        </div>

    </div>

    <div class="box">

        <header>

            <nav>

                <div class="logo">

                    <h1>Delicious <b>Pastries</b></h1>

                </div>

                <div class="list">

                    <ul>

                        <li><a href="#">Buscar</a></li>
                        <li><a href="#">Panel</a></li>
                        <li><a href="/crear">Crear</a></li>
                        <li><a href="#">Perfil</a></li>

                    </ul>

                </div>

            </nav>

        </header>

        <div class="content">

            <div class="text">
    
                <section>

                    <div>

                        <h1>Contenido<br>Repostero</h1>
    
                    </div>
                    <div>
    
                        <p>Hola y bienvenido, ¿Búscas algo? Tranquilo, <br> aquí lo encontraras</p>
    
                    </div>

                </section>
                
            </div>
    
            <div class="slider">
    
                <span></span>
                <img src="/views/image/maccarones.png" class="maccarones">
    
            </div>
            
        </div>

    </div>

    <div class="body-content">

        <section class="news">
            
            <h1>Nuevos</h1>

            <section class="containers">

                <ion-icon name="chevron-back-outline" color="#000" id="mas"></ion-icon>
                <div class="cardNew">

                    <div id="a">

                        <div class="initial">

                            <div class="lista">

                                <ul>

                                    <li>Guardar</li>
                                    <li>No me interesa</li>
                                    <li>Más sobre</li>
    
                                </ul>
                                
                            </div>

                            <div class="titulo">

                                <h1>Torta Tres Leches<br>Full chucheria</h1>
                                
                            </div>

                            <div class="add">

                                <span>

                                    <ion-icon name="add-outline"></ion-icon>

                                </span>

                            </div>

                        </div>

                        <div class="center">



                        </div>

                        <div class="bottom">



                        </div>

                    </div>

                    <div id="b">

                        <div class="initial">

                            <div class="lista">

                                <ul>

                                    <li>Guardar</li>
                                    <li>No me interesa</li>
                                    <li>Más sobre</li>
    
                                </ul>
                                
                            </div>

                            <div class="titulo">

                                <h1>Torta Tres Leches<br>Full chucheria</h1>
                                
                            </div>

                            <div class="add">

                                <span>

                                    <ion-icon name="add-outline"></ion-icon>

                                </span>

                            </div>

                        </div>

                        <div class="center">



                        </div>

                        <div class="bottom">



                        </div>

                    </div>

                    <div id="c">

                        <div class="initial">

                            <div class="lista">

                                <ul>

                                    <li>Guardar</li>
                                    <li>No me interesa</li>
                                    <li>Más sobre</li>
    
                                </ul>
                                
                            </div>

                            <div class="titulo">

                                <h1>Torta Tres Leches<br>Full chucheria</h1>
                                
                            </div>

                            <div class="add">

                                <span>

                                    <ion-icon name="add-outline"></ion-icon>

                                </span>

                            </div>

                        </div>

                        <div class="center">



                        </div>

                        <div class="bottom">



                        </div>

                    </div>

                    <div id="d">

                        <div class="fondo">

                            <p>CAKE</p>
                            
                        </div>

                        <div class="base">

                            <div class="initial">

                                <div class="lista">
    
                                    <ul>
    
                                        <li><ion-icon name="heart-outline"></ion-icon></li>
                                        <a href="#"><li>Guardar</li></a>
                                        <a href=""><li>No me interesa</li></a>
                                        <a href=""><li>Más sobre</li></a>
        
                                    </ul>
                                    
                                </div>
    
                                <div class="titulo">
    
                                    <section>

                                        <h1>Black Cake<br>Siente el sabor del chocolate</h1>

                                    </section>

                                    <section>

                                        <h2 id="precio">60$</h2>

                                    </section>
                                    
                                </div>
    
                                <div class="add">
    
                                    <span>
    
                                        <ion-icon name="add-outline" id="add_button"></ion-icon>
    
                                    </span>
    
                                </div>
    
                            </div>
    
                            <div class="center">
    
                                <img src="/views/image/cupcake.png">
    
                            </div>
    
                            <div class="end">
    
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <div>

                                    <p id="NumberPage"></p>

                                </div>
    
                            </div>

                        </div>

                    </div>

                </div>
                <ion-icon name="chevron-forward-outline" color="#000" id="menos"></ion-icon>
    
            </section>
        
        </section>

    </div>

</body>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="/views/js/ryr.js"></script>

</html>