/*fuentes a usar*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/*esto lo utilizamos para no irnos a la que te gusta*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{

    height: 100vh;

}

box-icon{

    color: aqua;

}

/*barra :)*/
.barra-nav {

    position: relative;
    width: 100%;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

.barra-nav .navegacion-menu {

    display: flex;
    justify-content: first baseline;
    align-items: center;
    float: left;

}

.barra-nav .navegacion-menu box-icon{

    margin: 1em;

}

.navegacion-menu box-icon:hover{

    cursor: pointer;

}

.barclose{

    transition: 1s;
    background: #212529;
    position: absolute;
    width: 0%;
    height: 100vh;
    animation-name: barclose;
    animation-duration: 1s;

}

.barclose box-icon{

    transition: 1s;
    transform: translateX(-50px);

}

.baropenicon{

    transition: 1s;
    background: #212529;
    position: absolute;
    width: 8%;
    height: 100vh;
    display: block;
    animation-name: bar;
    animation-duration: 1s;

}

/*estructura de la barra*/

.header-bar{

    display: flex;
    justify-content: center;
    align-items: center;

}

.header-bar box-icon{

    margin: 1em;

}

.listitem{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;

}

.listitem ul{

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3,1fr);

}

.listitem ul li{

    list-style: none;

}

.listitem box-icon{

    cursor: pointer;
    margin-top: 1.5em;

}

.on{

    display: none;

}

.darkbox{

    display: none;

}

/*config para los botones de inicio y regi*/

.registro-inicio{

    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

}

.registro-inicio input{

    width: 10em;
    height: 3em;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background: none;
    border: 2px solid rgb(0, 0, 0);
    margin: 1em 2em 1em 1em;

}

.registro-inicio input:hover{

    cursor: pointer;

}

.registro-inicio-dark{

    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

}

.registro-inicio-dark input{

    width: 10em;
    height: 3em;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: none;
    border: 2px solid rgb(255, 255, 255);
    margin: 1em 2em 1em 1em;

}

@keyframes bar {
    
    0%{

        left: -300px;

    }

    100%{

        left: 0px;

    }
}
