/*fuentes a usar*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/*esto lo utilizamos para no irnos a la que te gusta*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{

    width: 100%;
    height: 100vh;

}

.bubles span:nth-child(even){

    background: #6c63ff;

}

.content{

    position: absolute;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.presentacion-dark input{

    width: 10em;
    height: 3em;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: none;
    border: 2px solid rgb(255, 255, 255);
    margin: 1em 2em 1em 1em;
    z-index: 1000;

}

.presentacion-dark input:hover{

    transition: .5s;
    border-color: #6c63ff;
    color: #6c63ff;
    cursor: pointer;
    z-index: 1000;

}

.presentacion input{

    width: 10em;
    height: 3em;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background: none;
    border: 2px solid rgb(0, 0, 0);
    margin: 1em 2em 1em 1em;
    z-index: 1;

}

.presentacion input:hover{

    transition: .5s;
    border-color: #6c63ff;
    color: #6c63ff;
    cursor: pointer;
    z-index: 1;

}

/*esto configura el color de los iconos*/

body ion-icon{

    color: white;
    font-size: 20px;

}

body ion-icon:hover{

    transition: .4s;
    color: #6c63ff;

}

body .buttonopen{

    color: #212529;

}
.icons ion-icon{

    color: #212529;

}

.icons ion-icon:hover{

    transition: .4s;
    color: #6c63ff;
    cursor: pointer;

}

.icons .buttonopen{

    color: white;

}

.icons{

    color: white;

}

/*barra :)*/
.barra-nav {

    position: relative;
    width: 100%;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

.barra-nav .navegacion-menu {

    display: flex;
    justify-content: first baseline;
    align-items: center;
    float: left;

}

.barra-nav .navegacion-menu ion-icon{

    margin: 1.5em;

}

.navegacion-menu ion-icon:hover{

    cursor: pointer;

}

.barclose{

    transition: 1s;
    background: #212529;
    position: absolute;
    width: 0%;
    height: 100vh;
    animation-name: barclose;
    animation-duration: 1s;
    z-index: 1;

}

.barclose ion-icon{

    transition: 1s;
    transform: translateX(-50px);

}

.baropenicon{

    transition: 1s;
    background: #212529;
    position: absolute;
    width: 6%;
    height: 100vh;
    animation-name: bar;
    animation-duration: 1s;
    z-index: 1;

}

.dsplazButton{

    animation-name: deplaz-button;
    animation-duration: 5s;

}

/*estructura de la barra*/

.header-bar{

    display: flex;
    justify-content: center;
    align-items: center;

}

.header-bar ion-icon{

    margin: 1em;

}

.listitem{

    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1em;

}

.listitem ul{

    display: grid;
    grid-template-columns: 1;

}

.listitem ul li{

    list-style: none;

}

.listitem ion-icon{

    cursor: pointer;
    margin-top: 1.5em;

}

.on{

    display: none;

}

.darkbox{

    display: none;

}

/*config para los botones de inicio y regi*/

.registro-inicio{

    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

}

.registro-inicio input{

    width: 10em;
    height: 3em;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background: none;
    border: 2px solid rgb(0, 0, 0);
    margin: 1em 2em 1em 1em;

}

.registro-inicio input:hover{

    transition: .5s;
    border-color: #6c63ff;
    color: #6c63ff;
    cursor: pointer;

}

.registro-inicio-dark{

    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

}

.registro-inicio-dark input{

    width: 10em;
    height: 3em;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: none;
    border: 2px solid rgb(255, 255, 255);
    margin: 1em 2em 1em 1em;

}

.registro-inicio-dark input:hover{

    transition: .5s;
    border-color: #6c63ff;
    color: #6c63ff;
    cursor: pointer;

}

.container{

    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.bubles{

    position: absolute;
    display: flex;

}

.bubles span {

    position: relative;
    width: 30px;
    height: 30px;
    background: #212529;
    opacity: .15;
    margin: 0 4px;
    border-radius: 50%;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));

}

@keyframes bar {
    
    0%{

        left: -300px;

    }

    100%{

        left: 0px;

    }
}

@keyframes animate {

    0%{

        transform: translateY(100vh) scale(0);

    }

    100%{

        transform: translateY(- 10vh) scale(1);

    }

}

@media (max-width: 900px) {
    
    .baropenicon{

        width: 12%;

    }

}